# datasets
/data/

# outputs / training
/outputs/
/results/
/checkpoints/
/logs/
/newoutputs/

# python
*.pyc
*.pyo
*.pyd
__pycache__/

# environments
.env
venv/
.venv/
env/

# editors
.vscode/
.idea/

# huggingface cache
.cache/